<div class="row list-group-item">

  <!-- RECIPE ITEM -->
  <div class="col-xs-7">
    <span class="pull-left">
      <button type="button" class="btn btn-xs btn-success" (click)="onEdit()">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <a [routerLink]="[itemIndex,'edit']">
      <!-- <a [routerLink]="['edit']"> -->
        <h4 class="list-group-item-heading"> {{item.name}} </h4>
      </a>
    </span>
    <div class="pull-right">
      <img [src]="item.imagePath" style="max-height: 50px" class="img-responsive" />
    </div>
  </div>

  <!-- STARS -->
  <div class="col-xs-1">
    <div>{{item.rating}}</div>
  </div>

  <!-- MANAGE -->
  <div class="col-xs-4">
    <div>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-xs btn-success" (click)="onSave()">
          <span class="glyphicon glyphicon-save"></span>
        </button>
        <button type="button" class="btn btn-xs btn-primary" (click)="onAddingRating()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="button" class="btn btn-xs btn-danger" (click)="onDecreasingRating()">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </div>
    </div>
  </div>
</div>
